
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #afcdea;
  }

h1{
    text-align: center;
}
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #def7ff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
  }
  
  label {
    color: #2f2c79;
  }
  
  input {
    background-color: #def7ff;
    color: #2f2c79;
    border-bottom: solid #2f2c79;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  button {
    background-color: #2f2c79;;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #9d4edd;
  }
  